.page {
  min-height: 100vh;
  background: #fff;
}

.content {
  padding: 32px 24px;
}

.header {
  width: 100%;
  margin-bottom: 40px;
}

.card {
  width: 400px;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 16px;
  padding: 36px 32px;
}

.loginButton {
  background: rgba(0, 0, 0, 0.04) !important;
  border: none !important;
}
