.appBar {
  padding: 0 14px;
  height: 64px;
  flex-shrink: 0;
  border-bottom: 1px solid #f0f0f0;
}

.nav {
  flex-wrap: nowrap;
}

.navItem {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.88);
  cursor: pointer;
  padding: 4px 0;
}

.navItem:hover,
.navItem:hover :global(.ant-badge) {
  color: #1677ff;
}

.navItemActive,
.navItemActive :global(.ant-badge) {
  color: #1677ff;
}
