.page {
  height: 100%;
}

.toolbar {
  margin: 16px 16px 0;
  flex-shrink: 0;
}

.toolbarSearch {
  flex: 1;
  max-width: 460px;
}

.toolbarActions {
  margin-left: auto;
}

.content {
  overflow: auto;
  padding: 15px;
}
